/* Styling for mobile device */
  /* Editing title of the generic entry blog */
h1 {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0.1rem 0rem 1rem;
}
/* Styling of section with image and text */
.genblog-image {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Styling image of only entry blog*/
  .genblog-image img {
    width: 75%;
    margin: 2rem 2rem;
    display: block;
    filter: grayscale(75%);
  }

  /* styling of placeholder text */
  .genblog-entry {
    margin: 1rem 1rem;
    text-align: justify;
  }

  /* Media query for tablets */
  @media screen and (min-width: 768px) and (max-width: 1024px) {
    
h1 {
    font-size: 1.5rem;
}
/* Downsize of blog entry image */
.genblog-image img {
width: 65%;
}

/* Increase of placeholder font */
.genblog-entry {
    font-size: 1.2rem;
    margin: 2.5rem 2.5rem;
}
}

/* Media query for larger screen*/
@media screen and (min-width: 1181px) {

/* Increased font size of h1 */
    h1 {
    font-size: 2.5rem;
}

/* Reduced image dimensions */
.genblog-image img {
    width:50%;
}

/* Increased size of placeholder font */
.genblog-entry {
    font-size: 1.6rem;
}
}